<div>
  <br> <br>
  <br>
  <br>
<div class="footer jb_cover">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footerNav jb_cover">
          <a href="#"><img src="../../../assets/images/darnalogo.png" width="250px" alt="img" /></a>
          <ul class="footer_first_contact">
            <li>
              <i class="flaticon-location-pointer"></i>
              <p>
                49, Rue des Entrepreneurs - Ariana <br />
                2035 Tunisie .
              </p>
            </li>
            <li>
              <i class="flaticon-telephone"></i>
              <p>Tél: (+216) 29 50 87 87</p>
            </li>

            <li>
              <i class="flaticon-envelope"></i><a href="#">contact@darna.tn </a>
            </li>
          </ul>
         
        </div>
      </div>
      <div class="col">
        <div class="footerNav jb_cover footer_border_displ">
          <h5>features</h5>
          <ul class="nav-widget">
            <li>
              <a href="#"><i class="fa fa-square"></i>Qui sommes nous? </a>
            </li>

            <li>
              <a href="#"><i class="fa fa-square"></i>Nous aide </a>
            </li>

            <li>
              <a routerLink="/Event"><i class="fa fa-square"></i>Nos Actions </a>
            </li>

            <li>
              <a routerLink="/contact"><i class="fa fa-square"></i>Contactez Nous</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footerNav jb_cover footer_border_displ">
          <h5>browse</h5>
          <ul class="nav-widget">
            <li>
              <a href="#"><i class="fa fa-square"></i> Freelancers in USA </a>
            </li>

            <li>
              <a href="#"><i class="fa fa-square"></i> Freelancers in UK</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-square"></i> Freelancers in Canada</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-square"></i> Freelancers in india</a>
            </li>
          </ul>
        </div>
      </div>   

      <div class="clearfix"></div>
    </div>
    <!--/.row-->
    <div class="social">
      <ul class="icon_list_news jb_cover">
        <li>
          <a href="https://www.facebook.com/darnatn/"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/DarnaTn"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/darnatn/"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/darnatn"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
          <a href="https://darnatn.tumblr.com/"><i class="fab fa-tumblr"></i></a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <i class="fa fa-copyright"></i> 2016 <a href="#">Darna -</a>Tous droits
      réservés.
    </div> 
  </div>